<div class="row margin0 pad5">
	<div class="col-xs-3">Unit Type</div>
	<div class="col-xs-6">
			<select ng-model="editprop.type" class="form-control" ng-init="editprop.type = 'string'">
			<option value="string">String</option>
			</select>
	</div>	
</div>
<div class="row margin0 pad5">
<div class="col-xs-3">Unit Operations</div>
	<div class="col-xs-7">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default" ng-class="{'active':(editprop.operations.indexOf('get')>-1)}" ng-click="setpropertyOperationsData(editprop.operations,'get')">
					<input type="checkbox" ng-model="editprop.operations.get" >GET
				</label>
				<label class="btn btn-default" ng-class="{'active':(editprop.operations.indexOf('post')>-1)}" ng-click="setpropertyOperationsData(editprop.operations,'post')" >
					<input type="checkbox"  ng-model="editprop.operations.post" >POST
				</label>
			</div>
	</div>
</div>	
<div class="row margin0 pad5">
	<div class="col-xs-3">Add Unit Value</div>
	<div class="col-xs-7">
		<input type="hidden"  ng-init="(editprop.sub_property).length == 0 ? addNewSubPropertyChoiceData(editprop.sub_property) : ''" ng-model="editprop.sub_property" />
   		<a ng-click="addNewSubPropertyChoiceData(editprop.sub_property)"><div>Define One More Unit</div></a>
	</div>
</div>
<div class="row margin0 pad5">
  		<div ng-repeat="choice in editprop.sub_property" class="row margin0 pad5">				
					<div class="col-xs-2">Minimum</div>
					<div class="col-xs-2"><input type="number" ng-model="choice.minimum" class="form-control"/></div>
					
					<div class="col-xs-2">Maximum</div>
					<div class="col-xs-2"><input type="number" ng-model="choice.maximum" class="form-control"/></div>
					
									
					<div class="col-xs-2">Unit Value</div>
					<div class="col-xs-2"><input type="text" class="form-control width85 leftalign" ng-model="choice.value">
						<button ng-if="$index>0" type="button" class="close" ng-click="deletePropertyChoicesData(editprop.sub_property,$index);" style="float:right">&times;</button>
					</div>	
				
		</div>	
</div>	