<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div ncy-breadcrumb></div>
  </div>
</div>
<div class="row" >

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom >
    <md-tab label="Explorer" ng-click="$event.preventDefault();">
    <md-content id="home" class="md-padding">
     <div ng-include="'modules/simulator/views/explorer.html'"></div>
     </md-content>
     </md-tab>
      <md-tab label="Test Environment" ng-click="$event.preventDefault();testenvtab()">
    <md-content id="home" class="md-padding">
        <div ng-include="'modules/simulator/views/testenvironment.html'"></div>
     </md-content>
     </md-tab>
   


    </md-tabs>
    </md-content>
    </div>
  </div>
</div>