<div ng-controller="ramladdtemplateCtrl" >
<div class="row" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ncy-breadcrumb></div>
			 <button style="float:right;display:inline;" type="submit" class="btn btn_back" title="Back to list" back-button>
                <i class="fa fa-chevron-left mr-right7"></i>Back to list
            </button>
        </div>
</div>
<hr class="mr-top0" style="border:2px solid #3D6BA9;" />

<div class="row row_margin_0 ">
	<form class="form-horizontal" id="form" name="form" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
			<button type="button" ng-disabled="form.$invalid"  ng-click="SaveRML()" class="btn btn-primary" title="Save Data" >Save Data</button>
		</div>
		<br/><br/>
		
		<table class="table table-striped pad0">
			<tbody>
				<tr>
					<td class="col-xs-3 c_cls">Name:</td>
					<td>
						<div ng-class="{ 'has-error': form.deviceName.$dirty && (form.deviceName.$error.required || form.deviceName.$error.maxlength) }" >
						   <input type="text"  class="form-control" name="deviceName" ng-model="Addraml.name" required ng-maxlength="30" />
							<span ng-show="form.deviceName.$dirty && (form.deviceName.$error.required)" class="help-block">Device Name is required</span>
							<span ng-show="form.deviceName.$error.maxlength" class="help-block">Device Name Should Contain within 30 Characters</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="c_cls">Description:</td>
					<td class="">
						<div ng-class="{'has-error': form.deviceDesc.$dirty && form.deviceDesc.$error.required }" >
						  <textarea placeholder="Description"  rows="2" name="deviceDesc" required ng-model="Addraml.description" class="form-control" ></textarea> 
						  <span ng-show="form.deviceDesc.$dirty && form.deviceDesc.$error.required" class="help-block">Device Description is required</span>						  
						</div>
					</td>
				</tr>									
			</tbody>
		</table>
			<div id="deviceTable" >
	<div  ng-include="'modules/ramlproperties/views/rmlTemplatePropertyadd.html'"></div>	</div>	
	</form>
</div>
</div> <!-- controller div -->